.payModal{
    left: 50%;
    top: 0;
    bottom: 0;
    width: 100%;
    max-width: 600px;
    transform: translate(-50%, 0);
    z-index:1002;
    :global(.adm-mask) {
        position: absolute;
    }
    :global(.adm-modal-content){
        max-height: 80vh;
    }
    :global(.adm-modal-body){
        max-height: 80vh;
    }
    .payCont{
        position: relative;
        .hd{
            color: #f3e8db;
            font-size: 16px;
            font-weight: 500;
            text-align: center;
            padding: 0;
        }
        .countdown{
            color: #f1f1f1;
            margin: 8px 0 0;
            color: #ff0000;
            text-align: center;
        }
        .tips{
            font-size: 13px;
            color: #f1943f;
            margin: 5px 0 0;
            text-align: center;
        }
        .code{
            width: 96px;
            height: 96px;
            border-radius: 8px;
            overflow: hidden;
            margin: 6px auto 0;
            display: flex;
            justify-content: center;
            align-items: center;
            line-height: 1;
            position: relative;
            .timeout{
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                right: 0;
                background: rgba(0,0,0,0.7);
                display: flex;
                justify-content: center;
                align-items: center;
                color: #f1f1f1;
                font-size: 13px;
            }
        }
        .address{
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #fff;
            margin: 15px 0 0;
            padding: 0 20px;
            label{
                margin: 0 100px 0 0;
            }
        }
        .total{
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #fff;
            margin: 10px 0 0;
            padding: 0 20px;
            label{
                margin: 0 70px 0 0;
            }
        }
        .close{
            position: absolute;
            left: 0;
            top: 0;
            color: #999;
            font-size: 20px;
            cursor: pointer;
        }
    }
    :global(.adm-center-popup-wrap) {
        width: 92%;
        max-width: 100%;
        background: #1f1f1f;
        border-radius: 8px;
        position: absolute;
    }
    :global(.adm-center-popup-body){
        background: #1f1f1f;
    }
}