.swap{
    padding: 16px 16px 100px;
    width: 100%;
    .title{
        margin-bottom: 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size:26px;
        font-weight:600;
    } 
}
