.region{
    width:86%;
    max-width:600px;
    margin:0 auto;
    user-select:none;
    background: #191919;
    border-radius: 8px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 15px;
    user-select:none;
    cursor:pointer;
    .country{
        display:flex;
        align-items: center;
        .countryName{
            font-size: 13px;
            margin:0 0 0 10px;
        }
    }
    .extraInfo{
        display:flex;
        align-items: center;
        .icon{
            margin:0 0 0 20px;
            font-size: 18px;
        }
    }
}
.regionDisabled{
    cursor: not-allowed;
    opacity: 0.8;
}
.popup{
    left: 50%;
    top: 0;
    bottom: 0;
    width: 100%;
    max-width: 600px;
    transform: translate(-50%, 0);
    :global(.adm-mask) {
        position: absolute;
    }
    :global(.adm-popup-body) {
        position: absolute;
    }
}
.modalWrap{
    .bd{
        height: calc(100vh - 70px);
        overflow: auto;
        .item{
            width:90vw;
            margin:0 auto 20px;
            border:0.5px solid #f6f1f2;
            border-radius: 10px;
            padding:10px 20px;
            background:#191919;
            cursor:pointer;
            display:flex;
            align-items:center;
            justify-content:space-between;
            .country{
                display:flex;
                align-items: center;
                .countryName{
                    font-size: 13px;
                    margin:0 0 0 10px;
                    color:#fff;
                }
            }
        }
        .itemOn{
            border:1px #61f7f9 solid;
            background: #61f7f926;
        }
    }
    :global(.adm-nav-bar-title) {
        color: #fff;
        font-weight: 500;
    }
    :global(.adm-nav-bar-back){
        color:#999;
    }
}