.recover-page {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.descriptions {
  text-align: left;
}

.descriptions p:first-child {
  font-size: 28px;

  margin-bottom: 8px;
}

.descriptions p:first-child b {
  color: #9FBFE5FE;
}

.warning {
  display: flex;
  align-items: center;
  gap: 4px;

  width: fit-content;
  margin: 0 auto;

  padding: 4px 8px;

  border: 1px solid #9FBFE5FE;
  border-radius: 8px;
  background: #191919;
}

.warning p {
  font-size: 12px;
  margin-top: -2px;
}

.word-grid {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.word-grid .list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 16px;
}

.word-list-item {
  padding: 8px 16px;
  border: 1px solid #4C4C4C;
  border-radius: 8px;
  background: #191919;

  position: relative;

}

.word-list-item input {
  width: 100%;
  height: 100%;

  background: none;
  border: none;

  color: #FFFFFF;
}

.word-list-item p {
  position: absolute;
  top: -10px;
  left: 0;

  font-size: 12px;
}

.recover-button {
  width: 210px;
  height: 60px;

  border-radius: 16px;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #9FBFE5FE;
  color: #0D0D0D;

  font-size: 16px;
  font-weight: 700;

  cursor: pointer;
}

.recover-button img {
  width: 30px;
  height: 30px;
}

.recover-button:disabled {
  background: #4C4C4C;

  cursor: not-allowed;
}

span.error-warn {
  color: #B3261E;
  font-size: 12px;

  display: block;
  margin: -12px 0 12px;

  text-align: left;
}