.blob-wrapper {
  position: relative;
  display: inline-block;
  width: 20vh;
  height: 20vh;
}

.blob-wrapper .blob {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  transition: width 0.5s ease, opacity 0.5s ease;
}

.blob-wrapper.off .blob--back {
  width: 180%;
  height: 180%;
  opacity: 0.8;
}

.blob-wrapper.off .blob--front {
  width: 150%;
  height: 150%;
  opacity: 1;
}

.blob-wrapper.connecting .blob--back {
  width: 155%;
  height: 155%;
  opacity: 0.8;
  animation: pulse .8s infinite ease-in-out;
}
.blob-wrapper.connecting .blob--front {
  width: 130%;
  height: 130%;
  opacity: 1;
  animation: pulse .8s infinite ease-in-out;
}

.blob-wrapper.on .blob--back {
  width: 180%;
  height: 180%;
  opacity: 0.8;
}
.blob-wrapper.on .blob--front {
  width: 150%;
  height: 150%;
  opacity: 1;
}

@keyframes pulse {
  0%, 100% {
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.1);
  }
}

