.appleModal{
    left: 50%;
    top: 0;
    bottom: 0;
    width: 100%;
    max-width: 480px;
    transform: translate(-50%, 0);
    :global(.adm-mask) {
        position: absolute;
    }
    :global(.adm-modal-content){
        max-height: 80vh;
    }
    :global(.adm-modal-body){
        max-height: 80vh;
    }
    .appleCont{
        position: relative;
        text-align: left;
        .hd{
            color: #ffd700;
            font-size: 20px;
            font-weight: 600;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 0 10px;
            svg{
                height: 40px;
                width: auto;
            }
        }
        .desc{
            color: #fff;
            font-size: 14px;
        }
        .spec{
            border: 0.5px #333 solid;
            border-radius: 8px;
            background: #333;
            margin: 15px 0 0;
            color: #fff;
            padding: 15px 20px;
            .item{
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-weight: 500;
                .price{
                    color: #ffd700;
                    font-size: 20px;
                    font-weight: 600;
                }
            }
            .tags{
                margin: 5px 0 0;
                display: flex;
                .tag{
                    margin: 0 10px 0 0;
                }
            }
        }
        .subscription{
            margin: 20px 0 0;
            .btn{
                background: #5572b5;
                border-color: #5572b5;
                color: #fff;
                padding: 10px 12px;
            }
        }
        .extraInfo{
            margin: 20px 0 0;
            .title{
                color: #dedede;
                font-weight: 500;
                font-size: 14px;
            }
            .list{
                margin: 10px 0 0;
                li{
                    list-style-type: none;
                    margin: 0 0 8px;
                    font-size: 13px;
                    color: #c0c0c0;
                    display: flex;
                    align-items: center;
                    .icon{
                        margin: 0 5px 0 0;
                        flex: none;
                        color: #efdcb8;
                    }
                    a{
                        color: #4777de;
                    }
                }
            }
        }
        .close{
            position: absolute;
            left: 0;
            top: 0;
            color: #999;
            font-size: 20px;
            cursor: pointer;
        }
    }
    :global(.adm-center-popup-wrap) {
        width: 92%;
        max-width: 100%;
        background: #1f1f1f;
        border-radius: 8px;
        position: absolute;
    }
    :global(.adm-center-popup-body){
        background: #1f1f1f;
    }
}