

.referralCont{
    padding: 15px 0 0;
    color: #fff;
    .tips{
        padding: 0 4.2vw;
        text-align: left;
        font-size: 14px;
        font-weight: 500;
    }
	.collapseDiv {
		padding: 0 2.7vw;

		// 内容为白色
		.transparentPanel :global(.adm-list-item:not(.adm-collapse-panel-header) .adm-list-item-content-main) {
			color: #fff !important;
		}

		// header 为蓝色
		.transparentPanel :global(.adm-collapse-panel-header .adm-list-item-content-main) {
			color: #9fbfe5fe !important;
		}

		// 背景透明等其它样式
		.transparentPanel :global(.adm-list-body),
		.transparentPanel :global(.adm-list-body-inner),
		.transparentPanel :global(.adm-list-item),
		.transparentPanel :global(.adm-list-item-content-main),
		.transparentPanel :global(.adm-list-item-content),
		.transparentPanel :global(.adm-list) {
			background: transparent !important;
			box-shadow: none !important;
			border: none !important;
			font-size: 14px;
			width: 100%;
		}
	}
	

    .label{
        display: flex;
        align-items: center;
        font-size: 14px;
        font-weight: 500;
        padding: 0 4.2vw;
        margin: 15px 0 0;
        .icon{
            margin: 0 3px 0 0;
        }
    }
	.detail{
		display: flex;
        align-items: center;
        font-size: 14px;
        font-weight: 500;
        padding: 0 4.2vw;
        margin: 15px 0 0;
        .icon{
            margin: 0 3px 0 0;
        }
	}
    .val{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 12px 4.2vw 0;
        background: #2b2b2d;
        padding: 0 0 0 5px;
        border-radius: 5px;
        .address{
            width: 60%;
        }
        .copyBtn{
            color: #b8b7b6;
            line-height: 1;
            font-size: 13px;
            padding: 12px;
        }
        .copied{
            color: #16c516;
            padding:12px;
            font-size: 13px;
            line-height: 1;
        }
    }
    .form{
        margin: 12px 0 0;
        padding: 0 4.2vw;
        .input{
            background: #2b2b2d;
            border-radius: 5px;
            padding: 8px 5px;
            :global(.adm-input-element) {
                font-size: 12px;
                color: #fff;
            }
        }
        .subBtn{
            margin: 15px 0 0;
            background: #4E72B6;
            border-color: #4E72B6;
            padding: 10px 0;
            font-weight: 500;
        }
    }
}