.wallet{
    padding: 16px 16px 100px;
    width: 100%;
    .title{
        margin-bottom: 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size:26px;
        font-weight:600;
        .armBand{
            svg{
                width: auto;
                height: 26px;
            }
        }
    }
    .list{
        margin: 20px 0 0;
        :global(.adm-list) {
            border-top: none;
            border-bottom: none;
            --border-top: none;
            --border-bottom: none;
        }
        :global(.adm-list-body) {
            background: none;
        }
        :global(.adm-list-item) {
            background: #191919;
            border-top: none;
            border-radius: 10px;
            margin: 0 0 15px;
        }
        :global(.adm-list-item-content) {
            border-top: none;
        }
        :global(a.adm-list-item:active:not(.adm-list-item-disabled)::after) {
            display: none;
        }
    }
    .operateBar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px 0 0;
        .stakeBtn{
            width: 31%;
            :global(.adm-button:not(.adm-button-default)) {
                background: #28292e;
                border-color: #28292e;
                font-weight: 600;
                padding: 10px 2px;
                font-size: 14px;
            }
        }
    }
}
.successModal{
    .successModalCont{
        .resInfos{
            text-align: left;
            .desc{
                padding: 10px 0 0;
                color: #e4e4e4;
            }
            .val{
                margin: 10px 0 0;
                .id{
                    color: #fff;
                    font-weight: 500;
                    margin: 0 0 0 5px;
                }
            }
        }
        .operateBar{
            .btn{
                background: #353a41;
                border-color: #353a41;
                color: #a3bee0;
                font-weight: 500;
            }
        }
        :global(.adm-result){
            background: none;
        }
        :global(.adm-result-title){
            color: #fff;
            font-weight: 500;
        }
    }
    :global(.adm-center-popup-body){
        background: #2c2c2c;
    }
    
}
.successModalWrap{
    background: #2a2a2a;
    .successModal{
        .description{
            color: #f1f1f1;
            text-align: center;
        }
        .link{
            display: flex;
            justify-content: center;
            margin: 10px 0 0;
            a{
                color: #1677ff;
                font-size: 16px;
            }
        }
    }
    :global(.adm-result) {
        padding: 12px 12px;
        background: transparent;
    }
    :global(.adm-result-success .adm-result-icon .antd-mobile-icon) {
        color: #52ab74;
    }
    :global(.adm-result-title) {
        color: #f1f1f1;
        font-weight: 500;
    }
    :global(.adm-modal-footer .adm-modal-button) {
        background: #333;
        border: none;
    }
}