.btnWrap{
    width: 31%;
    .warning{
        color: #ff0000;
        margin: 0 5px 0 0;
    }
    :global(.adm-button:not(.adm-button-default)) {
        background: #28292e;
        border-color: #28292e;
        font-weight: 600;
        padding: 10px 2px;
        font-size: 14px;
    }
}
.warningTipModal{
    :global(.adm-center-popup-body){
        background: #1f1f1f;
    }
    :global(.adm-auto-center-content){
        color:#bf0c0c;
        text-align: center;
    }
    :global(.adm-button){
        background: #292929;
        border-color: #292929;  
    }
}
.popup{
    left: 50%;
    top: 0;
    bottom: 0;
    width: 100%;
    max-width: 480px;
    transform: translate(-50%, 0);
    :global(.adm-mask) {
        position: absolute;
    }
    :global(.adm-popup-body) {
        position: absolute;
    }
}
.modalWrap{
    .bd{
        height: calc(100vh - 70px - 85px);
        overflow: auto;
        .take{
            padding: 4vw 4.3vw;
            border-bottom: 1px rgb(63, 63, 64) solid;
			.title1{
                color: #f8f8f8;
                font-size: 16px;
                font-weight: 500;
                text-align: center;
				padding-bottom: 1rem;
            }
            .title{
                color: #c5c5c5;
                font-size: 13px;
                font-weight: 400;
                .icon{
                    margin: 0 4px 0 0;
                }
            }
            .operation{
                margin: 15px 0 0;
                .btn{
                    border-radius: 8px;
                    background: #292929;
                    border-color: #292929;  
                    font-size: 16px!important;  
                    font-weight: 500;
                    padding: 10px 0!important;
                }
            }
        }
        .warning{
            padding: 4vw 4.3vw;
            border-bottom: 1px rgb(63, 63, 64) solid;
            .title{
                color: #f1943f;
                font-size: 16px;
                font-weight: 500;
                text-align: left;
            }
            .desc{
                font-size: 13px;
                color: #c5c5c5;
                line-height: 1.5;
                margin:8px 0 0 ;
                line-height: 1.5;
            }
        }
        .payways{
            padding: 0 4.3vw;
            text-align: left;
        }
    }
    :global(.adm-nav-bar){
        border-bottom: 1px #292d2e solid;
    }
    :global(.adm-nav-bar-title) {
        color: #fff;
        font-weight: 500;
    }
    :global(.adm-nav-bar-back){
        color:#999;
    }
}
.successModalWrap{
    background: #2a2a2a;
    .successModal{
        .description{
            color: #f1f1f1;
            text-align: center;
        }
        .link{
            display: flex;
            justify-content: center;
            margin: 10px 0 0;
            a{
                color: #1677ff;
                font-size: 16px;
            }
        }
    }
    :global(.adm-result) {
        padding: 12px 12px;
        background: transparent;
    }
    :global(.adm-result-success .adm-result-icon .antd-mobile-icon) {
        color: #52ab74;
    }
    :global(.adm-result-title) {
        color: #f1f1f1;
        font-weight: 500;
    }
    :global(.adm-modal-footer .adm-modal-button) {
        background: #333;
        border: none;
    }
}