.chart-markup-table .price-axis-container{
	width: 0px!important;
}
#token-widget-container > div > a {
	display: none!important;
}

.graph > div {
	width: 100%!important;
    height: 100%!important;
}