.popup{
    left: 50%;
    top: 0;
    bottom: 0;
    width: 100%;
    max-width: 600px;
    transform: translate(-50%, 0);
    z-index:1007;
    :global(.adm-mask) {
        position: absolute;
    }
    :global(.adm-popup-body) {
        position: absolute;
    }
}
.modalWrap{
    height:100%;
    .bd{
        height: calc(100% - 70px);
        overflow: auto;
        padding:0 3vw 22vw;
        .tips{
            border:0.5px #ccc solid;
            border-radius: 3vw;
            margin:5vw 0 0;
            padding:3vw 3vw;
            line-height:1.3;
            .icon{
                color:#f1943f;
                margin:0 1vw 0 0;
                display: inline-block;
                position: relative;
                top:2px;
            }
            b{
                font-weight: 500;
                color:#f1943f;
            }
        }
    }
    .bottom{
        position: sticky;       /* ✅ 固钉效果的关键 */
        bottom: 3vw;
        z-index: 1006;
        margin:3vw 0 0 0;
        border:0.5px #747474 solid;
        border-radius: 3vw;
        padding:3vw 3vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: rgba(62,62,62,0.95);
        box-shadow: 0 4px 5px rgba(125, 125, 125, 0.3);
        .bottomLeft{
            .label{
                font-size: 3.7vw;
                color:#e1e1e1;
            }
            .val{
                font-size: 4vw;
                font-weight: 500;
                color:#fff;
                margin:2vw 0 0;
            }
        }
        .bottomRight{
            .ruleBtnWrap{
                background: #28292e;
                border-color:#28292e;
                color:#e1e1e1;
                padding:3px 3px;
                .ruleBtn{
                    display: flex;
                    align-items: center;
                    .icon{
                        margin:0 2px 0 0;
                    }
                }
            }
        }
    }
    .ruleBtnWrap{
        background: #28292e;
        border-color:#28292e;
        color:#e1e1e1;
        padding:3px 7px;
        .ruleBtn{
            display: flex;
            align-items: center;
            .icon{
                margin:0 3px 0 0;
            }
        }
    }
    :global(.adm-nav-bar){
        border-bottom: 1px #292d2e solid;
    }
    :global(.adm-nav-bar-title) {
        color: #fff;
        font-weight: 500;
    }
    :global(.adm-nav-bar-back){
        color:#999;
    }
}
.rulesPopup{
    .ruleBox{
        .hd{
            text-align: center;
            font-size: 4.8vw;
            font-weight: 500;
            color:#fff;
            padding:6vw 0 4vw;
        }
        .bd{
            padding:0 4vw;
            line-height:1.4;
            max-height:calc(70vh - 18vw);
            overflow:auto;
            .item{
                padding:1.6vw 0;
                .name{
                    font-size: 4vw;
                    font-weight: 500;
                }
                .desc{
                    font-size: 3.7vw;
                    margin:1vw 0 0;
                    color:#ebebeb;
                    .descList{
                        margin:0 0 0 4vw;
                        li{
                            color:#ebebeb;
                            list-style-type: disc;
                        }
                    }
                }
            }
            .examples{
                .subItem{
                    margin:0 0 1vw;
                    .subItemName{
                        font-weight: 500;
                    }
                    .subItemDesc{
                        color:#ebebeb;
                    }
                }
                :global(.adm-list-body){
                    background: transparent;
                }
                :global(.adm-list-item){
                    background: transparent;
                    padding-left:0;
                }
                :global(.adm-list-default .adm-list-body){
                    border-bottom: none;
                    border-top:none;
                }
                :global(.adm-list-item-content){
                    border-top: none;
                }
                :global(.adm-collapse-panel-header .adm-list-item-content-main){
                    font-weight: 500;
                    font-size: 4vw;
                    padding:0;
                }
                :global(.adm-list-item-content-main){
                    padding:1vw 0;
                    font-size: 3.7vw;
                    color:#ebebeb;
                }
                :global(a.adm-list-item:active:not(.adm-list-item-disabled)::after){
                    border-bottom:none;
                }
            }
        }
    }
    :global(.adm-popup-body){
        background: #1f1f1f;
    }
}