.mine{
    border:0.5px #ccc solid;
    border-radius: 3vw;
    padding:3vw 3vw;
    .flow{
        display: flex;
        .partFlow{
            width:50%;
            flex:none;
            .label{
                font-size: 3.7vw;
                color:#dbdbdb;
            }
            .val{
                font-size: 5vw;
                font-weight: 500;
                color:#fff;
                margin:1.5vw 0 0;
            }
            .progressBar{
                width:90%;
                margin:2vw 0 0;
            }
            .extra{
                color:#cbcbcb;
                font-size: 3.2vw;
                margin:1.5vw 0 0;
            }
        }        
    }
    .friend,.book,.sign,.genesis{
        margin:3vw 0 0;
        border:0.5px #ccc solid;
        border-radius: 3vw;
        padding:3vw 3vw;
        .hd{
            font-size: 3.7vw;
            coor:#dbdbdb;
            font-weight: 500;
            display: flex;
            align-items: center;
            .icon{
                margin:0 1vw 0 0;
            }
        }
        .bd{
            display:flex;
            align-items: center;
            justify-content: space-between;
            margin:3vw 0 0;
            .desc{
                font-size: 3.7vw;
                font-weight: 500;
                line-height: 1.3;
            }
            .oper{
                flex:none;
                .btn{
                    background: rgba(255,255,255,0.1);
                    border-radius: 1vw;
                    color:#f1f1f1;
                    padding:2vw;
                    margin:0 0 0 1vw;
                }
                .done{
                    background: #bef3d7;
                    border-radius: 1vw;
                    color:#347858;
                    padding:2vw;
                    margin:0 0 0 1vw;
                }
            }
        }
        .tips{
            margin:2vw 0 0;
            font-size: 3.2vw;
            color:#c3c3c3;
            line-height: 1.3;
        }
    }
    .myInfo{
        margin:3vw 0 0;
        border:0.5px #ccc solid;
        border-radius: 3vw;
        padding:3vw 3vw;
        background:rgba(204, 204, 204,0.2);
        .hd{
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 3.7vw;
            font-weight: 500;
        }
        .warning{
            margin:3vw 0 0;
            color:#dc3f60;
            font-size: 3.5vw;
        }
        .bd{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin:2vw 0 0;
            .item{
                flex:1;
                border:0.5px #ccc solid;
                border-radius: 2vw;
                margin:0 3vw 0 0;
                padding:2vw;
                &:last-child{
                    margin:0;
                }
                .label{
                    font-size:3.7vw;
                    color:#ccc;
                }
                .val{
                    font-size: 3.5vw;
                    font-weight: 500;
                    margin:1.5vw 0 0;
                }
            }
        }
    }
}