.ranking{
    border:0.5px #ccc solid;
    border-radius: 3vw;
    padding:3vw 3vw;
    .rule{
        border:0.5px #ccc solid;
        border-radius: 3vw;
        padding:1.4vw 3vw 3vw;
        .item{
            line-height: 1.3;
            padding:1.6vw 0;
            .name{
                font-size: 4vw;
                font-weight: 500;
            }
            .desc{
                font-size: 3.7vw;
                margin:1vw 0 0;
                color:#ebebeb;
                .descList{
                    margin:0 0 0 4vw;
                    li{
                        color:#ebebeb;
                        list-style-type: disc;
                    }
                }
            }
        }
        .itemNum{
            .desc{
                .descList{
                    li{
                        list-style-type: decimal;
                    }
                }
            }
        }
        .extra{
            font-size: 3.7vw;
            margin:2vw 0 0;
            line-height: 1.3;
        }
    }
    .rankingCont{
        margin:4vw 0 0;
        .periodTab{
            display:flex;
            justify-content:space-between;
            align-items:center;
            .periodTabItem{
                flex:1;
                border:0.5px #fff solid;
                color:#f1f1f1;
                font-size: 4vw;
                font-weight: 500;
                border-radius: 2vw;
                text-align: center;
                padding:1.7vw 0;
                margin:0 1.7vw 0 0;
                &:last-child{
                    margin-right:0;
                }
            }
            .cur{
                background: #fff;
                color:#333;
            }
        }
        .classifyTab{
            margin:3.5vw 0 0;
            :global(.adm-tabs-header){
                background: none;
            }
            :global(.adm-tabs-tab){
                border:0.5px #fff solid;
                color:#f1f1f1;
                font-size: 3.5vw;
                border-radius: 5vw;
                text-align: center;
                padding:1.5vw 2.2vw;
            }
            :global(.adm-tabs-tab-active){
                background: #fff;
                color:#333;
            }
            :global(.adm-tabs-tab-wrapper){
                padding:0 4px;
            }
            :global(.adm-tabs-header-mask){
                display: none;
            }
        }
        .myInfo{
            display: flex;
            align-items: center;
            border:0.5px #ccc solid;
            padding:2vw;
            border-radius:3vw;
            margin:3.5vw 0 0;
            .tag{
                border-radius: 10vw;
                background: #f2f5f9;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 3.7vw;
                color:#666;
                width:6vw;
                height:6vw;
            }
            .cont{
                margin:0 0 0 2vw;
                font-size:3.7vw;
                .address{
                    font-weight: 500;
                    padding:0 30vw 0 0;
                }
                .total{
                    color:#c3c3c3;
                    font-size: 3.2vw;
                    margin:0.5vw 0 0;
                }
            }
        }
        .list{
            margin:1vw 0 0;
            .item{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding:3vw 0;
                border-bottom:0.5px rgba(204,204,204,0.5) solid;
                .disc{
                    border-radius: 10vw;
                    background: #f2f5f9;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 3.7vw;
                    color:#666;
                    width:6vw;
                    height:6vw;
                }
                .cont{
                    margin:0 0 0 2vw;
                    font-size:3.7vw;
                    .address{
                        font-weight: 500;
                        padding:0 20vw 0 0;
                    }
                    .type{
                        color:#c3c3c3;
                        font-size: 3.2vw;
                        margin:0.5vw 0 0;
                    }
                }
                .total{

                }
                &:last-child{
                    border-bottom: none;
                }
            }
        }
        .tips{
            margin:3vw 0 0;
            font-size: 3.2vw;
            color:#c3c3c3;
            line-height: 1.3;
        }
    }
}