.token-graph {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

p {
  width: fit-content;
}

.token-graph > div > p {
  margin-bottom: 8px;
}

.token-card {
  border-radius: 8px;
  background: #191919;
}

.token-card span {
  color: #989899;
  font-size: 12px;
}

.about-text {
  color: #989899;
  text-align: left;
}

.interval-options {
  display: flex;
  justify-content: space-between;
}

.interval-options button {
  border-radius: 8px;
  padding: 6px 16px;

  font-weight: bold;

  cursor: pointer;

  background: transparent;
  color: #FFFFFF;

  transition: color, background .06s ease-in;
}

.interval-options button.active {
  color: #9FBFE5FE;
  background: #262626;
}

.graph {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.graph h1 {
  font-size: 24px;
}

.price {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
}

.price > p {
  font-size: 32px;
}

.price .variation {
  display: flex;
  align-items: center;
  gap: 8px;
}

.price .variation div {
  padding: 4px 6px;
  border-radius: 8px;
  color: #0D0D0D;
}

.price .variation.positive {
  color: #6DE27C;
}

.price .variation.positive div {
  background: #6DE27C;
}

.price .variation.negative {
  color: #D84849;
}

.price .variation.negative div {
  background: #D84849;
}