.copyDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  text-align: left;
  gap: 8px;
}
.copyDivLt{
  display: flex;
  align-items: center;
}

.copyDiv button {
  cursor: pointer;
}

.copyDiv span {
  font-size: 12px;
  color: #676768;
  display: block;
  width: 180px;
}

.copyDiv:not(:last-child) div span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.buttonList {
  display: flex;
  align-items: center;
  gap: 6px;
}

.buttonList img {
  filter: grayscale(1);
}

.buttonList svg {
  width: 20px;
  height: 20px;
}

.buttonList .hidden svg {
  margin-top: 2px;
}

.copyText {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin: 0 10px 0 0;
}