.account-list {
  display: flex;
  flex-direction: column;
  gap: 40px;

  margin-bottom: 40px;
}

.account-wrapper {
  height: 60px;
  overflow: hidden;

  transition: height 0.2s ease;
}

.simplified.account-wrapper {
  height: 90px;
}

.account-wrapper .account-main-card .name img {
  transform: rotate(90deg);

  transition: transform 0.12s ease-in-out;
}

.account-wrapper.active .account-main-card .name img {
  transform: rotate(270deg);
}

.account-wrapper.active {
  /* should create the animation */
  height: fit-content;
}

.solana.account-wrapper.active {
  height: 300px;
}

.simplified.account-wrapper.active {
  height: 240px;
}

.referral-program.account-wrapper.active {
  height: fit-content;
}

.account-wrapper.active .account-main-card {
  background-color: #3f3f40;
}

.account-main-card {
  height: 60px;
  padding: 16px;
  border-radius: 16px;

  background-color: #282930;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  transition: background-color 0.12s ease-out;
  cursor: pointer;

  position: relative;
  z-index: 1;
}

.simplified .account-main-card {
  height: 90px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.account-main-card div:last-child {
  width: 100%;
  padding-right: 12px;

  display: flex;
  align-items: center;
}

.account-wrapper:not(.active) .account-main-card:hover {
  background-color: #222324;
}

.account-info {
  width: 100%;
  display: flex;
  justify-content: space-between;

  color: #676768;
  font-size: 12px;
}

.account-info p {
  width: fit-content;
}

.account-main-card h3 {
  font-size: 24px;

  text-align: left;
}

.info-card {
  margin-top: -14px;
  padding-top: 14px;

  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.account-wrapper.active .info-card {
  background-color: #191919;
}

.info-wrapper {
  text-align: left;
  padding: 12px 16px;
}

.info-wrapper div p:last-child {
  width: fit-content;
}

.simplified .info-wrapper > div {
  padding-left: 16px;
}

.simplified .info-wrapper > div:not(:last-child) {
  margin-bottom: 16px;
}

.simplified .info-wrapper svg {
  width: 32px;
  height: 32px;

  margin-right: 8px;
}

.simplified .info-wrapper div div div {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.simplified .info-wrapper div div div p:first-child {
  color: #ffffff;
}

.simplified .info-wrapper div div div p:last-child {
  font-size: 12px;
}

.info-wrapper > p {
  margin-bottom: 8px;
}

.info-wrapper div {
  display: flex;
  justify-content: space-between;
}

.info-wrapper div div p {
  color: #989899;
}

.info-wrapper svg {
  margin-top: 3px;
}

.referral-program .info-wrapper div {
  padding-left: 0;
}

.info-wrapper div p:first-child {
  color: #989899;
}

.info-wrapper div p:last-child {
  text-align: right;
}

.copy-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  text-align: left;
  gap: 8px;
}

.copy-div button {
  cursor: pointer;
}

.copy-div span {
  font-size: 12px;
  color: #676768;
  display: block;
  width: 240px;
}

.copy-div:not(:last-child) div span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.button-list {
  display: flex;
  align-items: center;
  gap: 6px;
}

.button-list img {
  filter: grayscale(1);
}

.button-list svg {
  width: 20px;
  height: 20px;
}

.button-list .hidden svg {
  margin-top: 2px;
}

.copy-text {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.fit-content.account-wrapper.active {
  height: fit-content !important;
}

.referral-program .info-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.referral-program .info-wrapper > button {
  width: 100%;
  text-align: center;

  background-color: #282930;
  padding: 16px 8px;
  border: 0;
  border-radius: 16px;

  font-size: 16px;
  font-weight: 700;
}

.referral-program .info-wrapper input {
  border-radius: 8px;
  background: #3f3f40;

  padding: 8px 16px;
  border: none;

  color: #676768;
}

.referral-program .info-wrapper > div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.referral-program .info-wrapper > div p {
  font-size: 14px;
  color: #ffffff;
}

.disabled {
  background: #191919 !important;
  color: #5a5a5afe !important;
  cursor:not-allowed!important;
}

.name {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.copy {
  display: flex;
  gap: 8px;
}

.copy p {
  font-size: 12px;
  color: #989899;

  width: fit-content;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.token-assets-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.token-assets-title > .title {
  color: #ffffff !important;
}

.token-assets-title > .refresh.disabled {
  color: #5a5a5afe !important;
  cursor: not-allowed;
}

.token-assets-title > .refresh {
  color: #9fbfe5fe !important;
  cursor: pointer;
}

.sp-club-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 16px;
}

.sp-club-grid p {
  font-weight: 600;
}
.asset-second-line{
  padding-left: 1.3rem;
  padding-bottom: 1rem;
}


.token-assets-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 10px;
}
.token-assets-item-lt{
  display: flex;
  align-items: center;
}
.token-assets-item-label{
  display: flex;
  flex-direction: column;
  width: 180px;
  margin: 0 10px 0 0;
}
.token-assets-item-label .asset-second-line{
  padding-bottom: 0!important;
}
.token-assets-item-label-name{
  display: flex;
  align-items: center;
  justify-content: flex-start!important;
  svg{
    margin: 0 4px 0 0!important;
  }
}
.token-assets-item-val{
  height: 50px;
  display: flex;
  align-items: flex-start;
}
.token-assets-item-val p{
  color: #fff!important;
  line-height: 2.6;
}
.passport-options {
	text-align: left;
}
#outer {
	display: flex;
	width: 100%;
}

button.redeem-button.purchase {
	background-color: #4E72B6;
	color: white;
	margin: 0px;
	display: flex;
	justify-content: center;
	font-weight: 700;
	font-size: 18px;
}
.button_img {
	width: 25px;
	height: 25px;
}

.club-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.club-container  .left {
  display: flex;
  align-items: center;
}

.club-container .text-box {
  display: flex;
  flex-direction: column;
}



  .qr-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
  }