.item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 10px;
    .lt{
        display: flex;
        align-items: center;
        .label{
            display: flex;
            flex-direction: column;
            width: 180px;
            margin: 0 10px 0 0;
        }
        .name{
            display: flex;
            align-items: center;
            justify-content: flex-start!important;
            svg{
                margin: 0 4px 0 0!important;
            }
        }
        .balance{
            padding: 0 0 0 1.3rem;
        }
    }
    .val{
        height: 50px;
        display: flex;
        align-items: flex-start;
        p{
            color: #fff!important;
            line-height: 2.6;
        }
    }
}
.stakingList{
    display: block!important;
    border-top: 1px rgb(63, 63, 64) solid;
    border-bottom: 1px rgb(63, 63, 64) solid;
    padding: 8px 0;
    margin: 0 0 10px;
    .hd{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 15px;
        font-weight: 500;
        color: #f1f1f1;
        padding: 0 5px 8px;
    }
    .bd{
        max-height: 100px;
        overflow: auto;
        display: table;
        width: 100%;
        border-collapse: collapse;
        color: #989899;
        padding: 0 5px;
        .item{
            display: table-row;
            span{
                display: table-cell;
                padding: 2px;
                white-space: nowrap;
                text-align: center;
            }
            span:first-child {
                text-align: left;
            }
            span:last-child {
                text-align: right;
            }
        }
    }
}