.codeBtn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #2a2a2a;
    border-radius: 8px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    user-select: none;
    &:hover{
        opacity: 0.9;
    }
    .codeIcon{
        color: #a49de5;
        font-size: 18px;
    }
    .text{
        color: #929292;
        width: auto;
        font-size:10px;
        font-weight: 500;
        line-height: 1;
        margin: 3px 0 0;
    }
}
.codeModal{
    left: 50%;
    top: 0;
    bottom: 0;
    width: 100%;
    max-width: 480px;
    transform: translate(-50%, 0);
    :global(.adm-mask) {
        position: absolute;
    }
    .codeConditions{
        position: relative;
        .hd{
            line-height: 1;
            color: #fff;
            font-size: 18px;
            font-weight: 500;
            text-align: center;
        }
        .bd{
            padding: 30px 10px 0;
            .subBtn{
                background: #2d2e30;
                border-color: #2d2e30;
                color: #f1f1f1;
            }
            .amountInput{
                border: 1px #2d2d2d solid;
                border-radius: 3px;
                height: 36px;
                display: flex;
                align-items: center;
                padding: 0 6px;
                :global(.adm-input-element::-webkit-input-placeholder) {
                    color: #777;
                }
                :global(.adm-input-element::placeholder) {
                    color: #777;
                }
                :global(.adm-input-element) {
                    color: #fff;
                    height: 36px;
                    font-size: 13px;
                }
            }
            :global(.adm-form .adm-form-footer){
                padding: 15px 0 0;
            }
            :global(.adm-list-item){
                background: transparent;
                padding-left: 0;
            }
            :global(.adm-list-item-content){
                padding-right: 0;
                border-top: none;
            }
            :global(.adm-list-body){
                background: transparent;
                border: none;
            }
            :global(.adm-form-item-label){
                color: #f1f1f1;
                font-size: 14px;
                display: flex;
                align-items: center;
                font-weight: 500;
            }
            :global(.adm-switch-checkbox){
                background: #5e5b5b;
            }
            :global(.adm-switch.adm-switch-checked .adm-switch-checkbox){
                background: #0a68ec;
            }
            :global(.adm-switch-checkbox:before){
                background: #4d4d4d;
            }
            :global(.adm-switch-handle){
                background: #a6a6a6;
            }
        }
        .close{
            position: absolute;
            left: 0;
            top: 0;
            color: #999;
            font-size: 20px;
            cursor: pointer;
        }
    }
    .codeCont{
        position: relative;
        .hd{
            line-height: 1;
            color: #fff;
            font-size: 22px;
            font-weight: 500;
            text-align: center;
        }
        .bd{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 30px 0 0;
            .qrcode{
                width: 136px;
                height: 136px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 6px;
                background: #fff;
            }
            .label{
                line-height: 1;
                font-size: 13px;
                font-weight: 400;
                color: #fff;
                margin: 10px 0 0;
                .labelItem{
                    margin: 0 10px;
                }
            }
        }
        .ft{
            border: 1px #303030 solid;
            background: #181818;
            border-radius: 6px;
            margin: 30px 0 0;
            .val{
                color: #fff;
                font-size: 11px;
                text-align: center;
                word-break: break-all;
                padding: 10px 15px;
            }
            .oper{
                padding: 10px 15px;
                border-top: 2px #1f1f1f solid;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 42px;
                .copyBtn{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    color: #fff;
                    font-size: 14px;
                    font-weight: 500;
                    cursor: pointer;
                    img{
                        margin: 0 5px 0 0;
                        height: 18px;
                    }
                }
                img{
                    height: 18px;
                }
            }
        }
        .close{
            position: absolute;
            left: 0;
            top: 0;
            color: #999;
            font-size: 20px;
            cursor: pointer;
        }
    }
    :global(.adm-center-popup-wrap) {
        width: 92%;
        max-width: 100%;
        background: #1f1f1f;
        border-radius: 8px;
        position: absolute;
    }
    :global(.adm-center-popup-body){
        background: #1f1f1f;
    }
}