.blob-wrapper {
  position: relative;
  display: inline-block;
  width: 20vh;
  height: 20vh;
}

.blob-wrapper .blob {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  transition: width 0.5s ease, opacity 0.5s ease;
}


.blob-wrapper.off .blob--back {
  width: 150%;
  height: 150%;
  opacity: 0.05;
    
}

.blob-wrapper.off .blob--front {
  width: 100%;
  height: 100%;
  opacity: 0.05;
}

.blob-wrapper.connecting .blob--back {
  width: 200%;
  height: 200%;
  opacity: 0.0;
  animation: pulse .5s infinite ease-in-out;
}
.blob-wrapper.connecting .blob--front {
  width: 150%;
  height: 150%;
  opacity: 0.05;
  animation: pulse .5s infinite ease-in-out;
}

.blob-wrapper.on .blob--back {
  width: 180%;
  height: 180%;
  opacity: 0.0;
  animation: pulse 2.0s infinite ease-in-out;
}
.blob-wrapper.on .blob--front {
  width: 150%;
  height: 150%;
  opacity: 0.05;
}

@keyframes pulse {
  0%, 100% {
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.1);
  }
}

