.loading{
    padding:5vw 4.2vw;
    .desc{
        font-size: 14px;
        color:#f1f1f1;
        line-height:1.5;
        margin-bottom: 20px;
    }
    .loadingText{
        text-align: center;
        font-size: 13px;
    }
    .tips{
        margin:20px 0 0;
        color:#f1943f;
        font-size: 12px;
        line-height: 1.4;
    }
    .oper{
        margin:20px 0 0;
        :global(.adm-button.adm-button-large){
            background: #484848;
            border-color: #484848;
            border-radius: 12px;
        }
    }
    .loadingRing{
        height: 160px;
        position: relative;
        margin-bottom: 24px;
        @keyframes rotationClock {
            from {
                transform: translateX(-50%) rotate(0deg);
            }
            to {
                transform: translateX(-50%) rotate(360deg);
            }
        }

        @keyframes rotation {
            from {
                transform: translateX(-50%) rotate(0deg);
            }
            to {
                transform: translateX(-50%) rotate(-360deg);
            }
        }

        .rotationClock {
            animation: rotationClock 2s infinite linear;
            top: calc(50% - 48px);
            position: absolute;
            display: flex;
            width: 108px;
            left: 50%;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        .rotation {
            animation: rotation 2s infinite linear;
            top: calc(50% - 72px);
            position: absolute;
            display: flex;
            left: 50%;
            width: 156px;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    }
}