.transfer-header {
  text-align: left;
}

.transfer-header p {
  font-size: 14px;
  color: #cacacc;
}

.transfer-header h1 {
  margin-bottom: 12px;
}

.transfer-footer {
  display: flex;
  flex-direction: column;
  gap: 16px;

  margin-bottom: 20px;
}

.transfer-footer button {
  width: 100%;
  padding: 16px 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 16px;
  gap: 8px;

  background-color: #282930;
  color: #ffffff;
  font-weight: 700;

  cursor: pointer;
}

.transfer-footer button.step-3 {
  background-color: #494849;
  color: #282930;
}

.transfer-footer button.step-1 {
  height: 60px;
  background-color: #4e72b6;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
}

.transfer-footer button.step-3 svg {
  animation: rotate 1.4s linear infinite;
}

.transfer-footer button.step-5 {
  background: none;
  color: #9fbfe5fe;
}

.transfer-footer p {
  font-size: 11px;
  color: #cacacc;
  text-align: left;
}

.input-container {
  border-radius: 16px;
  background: #191919;
  padding: 12px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.input-container p {
  font-size: 12px;
  width: fit-content;
}

.input-container input {
  background: none;
  color: #989899;
  border: 0;
  width: 100%;

  font-size: 14px;
}

.passport-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 1;

  padding: 16px 0;
}

.passport-list .passport-button {
  border-radius: 16px;
  background: #191919;

  padding: 16px;

  display: flex;
  flex-direction: column;
  gap: 16px;

  border: 1px solid #191919;
  cursor: pointer;
}

.passport-button.selected {
  border-color: #9fbfe5fe;
}

.passport-button .heading {
  display: flex;
  justify-content: space-between;
}

.passport-button .heading h3 {
  font-size: 20px;
}

.passport-button .heading p {
  font-size: 14px;
  color: #989899;
  width: fit-content;
}

.passport-button .info {
  display: flex;
  gap: 16px;
}

.passport-button .info p {
  font-size: 14px;
  color: #989899;
}

.summary-table p {
  width: fit-content;
}