.cta-buttons {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 40px;
}

.cta-buttons > div {
  display: flex;
  flex-direction: column;
}

.cta-buttons > div > p {
  text-align: left;
  font-size: 12px;
  color: #989899;
}

.cta-buttons button.cta-button {
  width: 100%;

  display: flex;
  align-items: center;
  gap: 14px;

  padding: 24px;
  text-align: left;
  font-size: 16px;

  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    linear-gradient(93deg, #4e72b6 0%, #9fbfe5 100%);

  border-radius: 8px;
  cursor: pointer;
}

.cta-buttons div.highlight-1 button {
  padding: 16px;
  background: rgba(159, 191, 229, 0.2);

  justify-content: center;

  border-radius: 16px;

  font-weight: bold;
  color: rgba(159, 191, 229, 1);
}

.cta-buttons div.highlight-1 button p {
  width: fit-content;
}

.cta-buttons div.highlight-2 button {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    linear-gradient(93deg, #4e72b6 0%, #9fbfe5 100%);
}

.cta-buttons button img {
  width: 26px;
  height: 26px;
}
