.App {
  width: 100%;
  max-width: 380px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  text-align: center;
  color: white;
}

button {
  background: 0;
  border: 0;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  gap: 12px;
}

button img {
  height: 16px;
  width: 16px;
}

.option-wrapper {
  height: 53px;
  overflow: hidden;

  transition: height .12s ease;
}

.option-wrapper.open {
  height: 212px;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
}

.header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  max-width: 500px;
  height: 100%;
  padding: 10px;

  margin: 0 auto;
}

.page-container > h1 {
  text-align: left;
  margin-bottom: 16px;
}

.page-container {
  width: 100%;

  flex: 1;

  display: flex;
  flex-direction: column;

  padding: 42px 16px 100px;
}