.app {
    height: 100%;
    padding-top: env(safe-area-inset-top);
    display: flex;
    flex-direction: column;
    max-width: 600px;
    min-width:320px;
    margin:0 auto;
}
.body {
    flex: 1;
    height:calc(100% - 50px);
    overflow: auto;
}
.bottom {
    flex: 0;
    background: #0d0d0d;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.4);
}