.text-display {
  text-align: left;

  display: flex;
  flex-direction: column;
  gap: 24px;
}

.faq-item {
  display: flex;
  flex-direction: column;
  gap: 12px;
  cursor: pointer;
}

.faq-item-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.text-display h1 {
  font-size: 32px;
  margin-top: -18px;
}

.text-display p,
.text-display li {
  color: #989899;
}

.text-display ul,
.text-display ol {
  margin-left: 16px;
}

.text-display a {
  color: #9fbfe5fe;
}

h2.title {
  font-size: 24px;
  color: #9fbfe5fe;
}

.title-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #3f3f40;
}

span.warn {
  color: #B3261E;
}